
.container, .row, .footer-control {
    display: flex;
    margin: auto;
}

.container {
    width: 993px;
    flex-direction: column;
    padding: 10px;
    border: 1px solid rgba(189, 195, 199,1.0);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container2 {
    width:993px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 10px;   
}

.container3 {
    width: 993px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 10px;
    border: 1px solid rgba(189, 195, 199,1.0);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;    
}

.row {
    align-content: flex-start;
    margin: 10px 0;
}

.row1 {
    display: inline-flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: flex-start;
}

#nameGroup {
    margin-right: auto; 
}

#nameGroup input {
    width: 500px;

}   
.pax {
    justify-content: space-evenly;
}

.footer-control {
    width:100%;
    justify-content: flex-end;
}